<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dinesh.ikl" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>IKL</name>
    <description>
        Inaindhakaiggal Blood Donors Management app.
    </description>
    <author email="dineshrajaa.93@gmail.com" href="http://cordova.io">
        Dinesh Raja
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="tel:*" launch-external="yes" />
    <access origin="mailto:*" launch-external="yes" />
    <!--Plugins needed-->
    <gap:plugin name="org.apache.cordova.dialogs" />    
</widget>
